{:paths ["src/clj" "src/java" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.3"}
        org.clojure/core.async {:mvn/version "1.8.741"}
        org.telegram/telegrambots-longpolling {:mvn/version "9.2.0"}
        org.telegram/telegrambots-webhook {:mvn/version "9.2.0"}
        org.telegram/telegrambots-client {:mvn/version "9.2.0"}
        org.telegram/telegrambots-extensions {:mvn/version "9.2.0"}
        org.json/json {:mvn/version "20250517"}
        org.apache.commons/commons-lang3 {:mvn/version "3.20.0"}
        org.reflections/reflections {:mvn/version "0.10.2"}
        com.zoho/hawking {:mvn/version "0.1.9"}
        org.clojure/java.jdbc {:mvn/version "0.7.12"}
        org.xerial/sqlite-jdbc {:mvn/version "3.51.1.0"}
        http-kit/http-kit {:mvn/version "2.9.0-beta3"}
        compojure/compojure {:mvn/version "1.7.2"}
        cheshire/cheshire {:mvn/version "6.1.0"}
        ring/ring-json {:mvn/version "0.5.1"}}

 :aliases
 {:dev
  {:extra-paths ["test/clj"]
   :extra-deps {nrepl/nrepl {:mvn/version "1.5.1"}}}

  :test
  {:extra-paths ["test/clj" "test/resources" "target/classes"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn test-runner/test}

  :build
  {:extra-paths ["."]
   :deps {io.github.clojure/tools.build {:mvn/version "0.10.11"}}
   :ns-default build}

  :run
  {:main-opts ["-m" "org.goat.Goat"]}

  :repl
  {:extra-deps {nrepl/nrepl {:mvn/version "1.5.1"}
                cider/cider-nrepl {:mvn/version "0.58.0"}}
   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :uberjar
  {:extra-paths ["."]
   :replace-deps {io.github.clojure/tools.build {:mvn/version "0.10.11"}}
   :ns-default build
   :exec-fn uber}}

 :mvn/repos {"clojars" {:url "https://repo.clojars.org"}
             "central" {:url "https://repo1.maven.org/maven2/"}}

 :jvm-opts ["-server"]}
